<section class="portfolio-section">
  <h2 class="portfolio-title">Мої роботи</h2>
  <form class="portfolio-radio-form">
    <label class="portfolio-radio-form-label selected-radio-label">
      <input type="radio" value="team-projects" name="projects" checked />
      Командні проєкти
    </label>
    <label class="portfolio-radio-form-label">
      <input type="radio" value="individual-projects" name="projects" />
      Індивідуальні проєкти
    </label>
  </form>
  <ul class="portfolio-projects-list"></ul>
</section>
<div class="portfolio-page-disabled-images">
  <img src="./img/team-projects/focus-frame-mob-1x.jpg" />
  <img src="./img/team-projects/focus-frame-mob-2x.jpg" />
  <img src="./img/team-projects/focus-frame-tabl-desk-1x.jpg" />
  <img src="./img/team-projects/focus-frame-tabl-desk-2x.jpg" />
  <img src="./img/individual-projects/gallery-mob-1x.jpg" />
  <img src="./img/individual-projects/gallery-mob-2x.jpg" />
  <img src="./img/individual-projects/gallery-tabl-desk-1x.jpg" />
  <img src="./img/individual-projects/gallery-tabl-desk-2x.jpg" />
  <img src="./img/individual-projects/timer-mob-1x.jpg" />
  <img src="./img/individual-projects/timer-mob-2x.jpg" />
  <img src="./img/individual-projects/timer-tabl-desk-1x.jpg" />
  <img src="./img/individual-projects/timer-tabl-desk-2x.jpg" />
  <img src="./img/individual-projects/web-studio-mob-1x.jpg" />
  <img src="./img/individual-projects/web-studio-mob-2x.jpg" />
  <img src="./img/individual-projects/web-studio-tabl-desk-1x.jpg" />
  <img src="./img/individual-projects/web-studio-tabl-desk-2x.jpg" />
</div>
